<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de platillos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-4">
    <div class="card-footer">
        <form class="d-flex" method="post" th:action="@{/feature/buscar}">
            <input type="text" class="form-control me-2"
                   name="buscar"
                   placeholder="Buscar..."
                   th:value="${buscado != null ? buscado : ''}"
                   aria-label="Buscar">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>


    <div class="row">
        <div th:each="meal, iterStat : ${listaMeals}" class="col-md-4 mb-4">
            <div class="card">
                <h2 th:text="${meal.getStrMeal()}"></h2>
                <form th:action="@{/feature/detail}" method="post">
                    <input type="hidden" th:name="buscar" th:value="${buscado != null ? buscado : ''}">
                    <input type="hidden" th:name="id" th:value="${meal.getIdMeal()}">
                    <button type="submit" style="background: none; border: none; padding: 0;">
                        <img th:src="${meal.getStrMealThumb()}" class="card-img-top" alt="Image of category" th:alt="${meal.strCategory}">
                    </button>
                </form>

                <div class="card-body">
                    <h5 class="card-title" th:text="${meal.getStrCategory()}"></h5>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>